.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
test/**
out/**
node_modules/**
scripts/**
esbuild.mjs
eslint.config.mjs
vitest.config.ts
tsconfig*.json
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
.npmrc
**/*.map
**/*.ts
*.vsix
